{% extends 'base.html.twig' %}
{% block title %} Hello PostController! {% endblock %}
{% block body %}
  {% for post in posts %}

    <a href="{{ path('blog_show', {'slug': post.slug}) }}">{{ post.title }}</a><br>
  {% endfor %}
{% endblock %}
